<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Site under maintenence</title>
    </head>
    <body>
        <h2>Site is under Maintenence</h2>
        <p>We'll be right back..</p>
    </body>
</html>