<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        {{> header}}
            {{> navigation}}
            <hr/>
            <p>Below are the list of projects I've worked on. </p>
        {{> footer}}
    </body>
</html>